{% extends 'base.html' %}

{% block content %}
<!-- Gallery -->
<div class="modal" id="myModal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modal-image">
  <div id="caption"></div>
</div>
<div class="container">
    <div class="gallery">
        <div class="gallery-image">
          <img src="../../static/imgs/Nighthawks.jpg" alt="111628" id="main-image">
        </div>
        <div class="gallery-image">
          <img src="../../static/imgs/monster.jpg" alt="151424" id="main-image">
        </div>
    </div>
    <div class="gallery-image">
      <img src="../../static/imgs/red-157156.jpg" alt="157156" id="main-image">
    </div>
    <div class="gallery">
        <div class="gallery-image">
          <img src="../../static/imgs/nightlife-117266.jpg" alt="117266" id="main-image">
        </div>
        <div class="gallery-image">
          <img src="../../static/imgs/festival-185766.jpg" alt="185766" id="main-image">
        </div>
    </div>
    <div class="gallery-image">
      <img src="../../static/imgs/triptych-105203.jpg" alt="105203" id="main-image">
    </div>
    <div class="gallery-single">
      <div class="gallery-image">
        <img src="../../static/imgs/adam-105073.jpg" alt="105073" id="main-image">
      </div>
    </div>
    <div class="gallery-single">
      <div class="gallery-image">
        <img src="../../static/imgs/morning-64729.jpg" alt="64729" id="main-image">
      </div>
    </div>
    </div>
</div>
{% endblock %}
